  <div class="col-lg-4">
    <%= link_to service_show_path(service) do%>
      <div class="card" data-id="<%= service.id %>">
        <div><%= image_tag(service.thumb_img, class: "index-image")  %></div>
        <div class="card-text">
          <h2><%=service.title%></h2>
        </div>
      </div>
    <% end %>
  </div>