<h1>Services Page</h1>
<div class="album card-text">
  <div class="container">
    <div class="row">
      <%= render @services %>
    </main>
    </div>
  </div>
</div> 

<% if logged_in?(:site_admin, :editor) %>
  <%= link_to service_new_path do%>
    <div class="icons">
      <p>Add Service <%= fa_icon 'plus' %></p>
    </div>
  <% end %>
<% end %>