<ul class="cb-slideshow">
	<li>
		<span></span>

		<div class="text">
				<h1>Worland First Choice Physical Therapy</h1>

				<p class='hero'>
					Our Physical Therapy staff is dedicated to helping you recover from your injury, so you can get...
				</p>
		</div>
	</li>

	<li>
		<span></span>

		<h1 class='text'>Back to Play</h1>
	</li>

	<li>
		<span></span>

		<h1 class='text'>Back to Work</h1>
	</li>

	<li>
		<span></span>

		<h1 class='text'>Back to Life</h1>
	</li>
</ul>

<a href="services">Learn more</a>