<ul class="cb-slideshow">
	<li>
		<span></span>

		<h1>Welcome</h1>

		<h2>Worland First Choice Physical Therapy</h2>

		<p class='hero'>
			Our Physical Therapy staff is dedicated to helpy you recover from your injury, so you can get back to work, life, and play!
		</p>
	</li>

	<li>
		<span></span>

		<h1>Back to Play</h1>
	</li>

	<li>
		<span></span>

		<h1>Back to Work</h1>
	</li>

	<li>
		<span></span>

		<h1>Back to Life</h1>
	</li>

	<a href="services">Learn more</a>
</ul>