   <%= stylesheet_link_tag params[:controller] %>
  <ul class="cb-slideshow">
	<li>
		<span>Image 01</span>
		<div>
			<h3>re·lax·a·tion</h3>
		</div>
	</li>

	<li><!--...--></li>
	<li><!--...--></li>
	<li><!--...--></li>
</ul>

  
  <h1>Welcome</h1>

  <h2>Worland First Choice Physical Therapy</h2>

  <p class='hero'>
    Our Physical Therapy staff is dedicated to helpy you recover from your injury, so you can get back to work, life, and play!
  </p>

  <a href="services">Learn more</a>