<main>
  <h1>
    Welcome to your local Worland Physical Therapy Clinic
  </h1>

  <p>
    Our Physical Therapy staff is dedicated to helpy you recover from your injury, so you can get back to work, life, and play!
  </p>

  <p>
    <a href="services">Learn more</a>
  </p>

</main>