<h1>Service Section Index Page</h1>
<%= link_to "Add Service", new_service_section_path%>

<% @section.each do |section| %>
  <h2><%= link_to section.title, service_section_path(section) %></h2>
    <div><%= link_to "Edit", edit_service_section_path(section)%>
<%= link_to "Delete '#{section.title}'", service_section_path(section), method: :delete, data: { confirm: "Are you sure you want to delete '#{section.title}'"} %></div>
<% end %>