@import "jquery-ui";
@import "font-awesome";
@import "gritter";

@import "nav";
@import "footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  line-height: 1.5em;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
  flex: 1;
}

.items-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3vw;
  filter: drop-shadow(0px 10px 5px rgba(0,0,0, .15));
}

.item img {
  width: 75vw;
  height: 75vw;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border: 1px solid #FF6D3D;
  border-radius: 50%;
  margin: 20px 10px -20px;
}

.items-wrapper a {
  text-decoration: none;
  color: black;
}

.item h3 {
  text-decoration: none;
  border: 1px dotted black;
  background-color: #FF6D3D;
  padding: 5px 10px;
  box-shadow: 0 0 0 5px #FF6D3D,
              0 8px 20px -6px black;
}

.edit-icons {
  margin-top: 20px;
}

.display-card {
  display: flex;
  max-width: 1000px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FF6D3D;
  border-radius: 10px;
  margin: 20px;
  padding: 30px 20px;
}

.display-card .info,
.display-card .img {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: right;
}

.display-card .info {
  text-align: left;
}
.img iframe {
  height: 100%;
  min-height: 218px;
  width: 100%;
}

.display-card h4 {
  align-self: flex-start;
}

.display-card .info *,
.display-card .img *{
  margin: 10px 0;
}

.display-card img {
  border-radius: 10px;
  width: 90%;
  align-self: flex-end;
  max-height: 400px;
  object-fit: cover;
}

.form {
  min-height: auto;
}

.form form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form section  {
  width: 300px;
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form section div {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form section div * {
  margin-bottom: 2;
}

.form div .btn {
  background-color: black;
  color: white; 
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.form > div {
  flex-basis: 1;
}

.check {
  display: block;
  position: relative;
}

.check input {
  display: flex;
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translateY(-40%);
}

.body {
  min-height: 94.5%;
  width: 100%;
  align-self: stretch;
}

.submit {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  body {
    padding-bottom: 54px;
  }

  .display-card {
    flex-direction: column-reverse;
    padding: 25px;
  }

  .form form {
    flex-direction: column;
  }

  form section * {
    margin: 2.5px 0 !important;
  }

  .form form .body {
    min-height: 200px;;
  }

  .display-card * {
    margin: 10px 0;
  }

  .display-card > .img {
    margin: 15px 0;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
  }

  .display-card img {
    align-self: center;
  }
}